<div layout flex>
    <md-card flex>
        <div class="md-toolbar-tools">
            <h2>Sample -
                <small>{{sample.labId}}</small>
            </h2>
            <span flex></span>
            {{sample.status | toRegularCase}}&nbsp;
            <md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="sample.status"
                       aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
            </md-switch>
            <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
                <md-tooltip md-direction="down">
                    Refresh
                </md-tooltip>
                <md-icon ng-class="icons.refresh" class="fa-2x">
                </md-icon>
            </md-button>
        </div>
        <md-tabs md-dynamic-height md-selected="tabs.selected" md-align-tabs="top">
            <md-tab id="tab1">
                <md-tab-label>General</md-tab-label>
                <md-tab-body>
                    <form name="editSample">
                        <div layout class="md-padding">
                            <md-input-container flex="50">
                                <label for="labId">Lab ID</label>
                                <input id="labId" type="text" ng-model="sample.labId" disabled autocomplete="off">
                            </md-input-container>
                            <md-input-container flex="50">
                                <label for="date">Date</label>
                                <input id="date" type="text" value="{{sample.date | dateFilter}}" disabled>
                            </md-input-container>
                        </div>
                        <div layout class="md-padding">
                            <span flex><label>Sample Identifier</label></span>
                        </div>
                        <div layout class="md-padding">
                            <md-input-container flex="33">
                                <label for="companyName">Company Name</label>
                                <input id="companyName" name="companyName" maxlength="4" ng-model="sample.companyName"
                                       ng-pattern="/^[a-zA-Z0-9]{3,4}$/"
                                       flex autocomplete="off">
                                <div ng-messages="editSample.companyName.$error">
                                    <div ng-message="pattern">Company name must be a combination of 3-4 letters or
                                        numbers.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="33">
                                <label for="creationDate">Creation Date</label>
                                <input id="creationDate" name="creationDate" ng-pattern="/^[a-zA-Z0-9]{4}$/"
                                       maxlength="4"
                                       ng-model="sample.creationDate" flex autocomplete="off">
                                <div ng-messages="editSample.creationDate.$error">
                                    <div ng-message="pattern">Creation date must be a combination of 4 letters or
                                        numbers.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="33">
                                <label for="sampleIdentity">Sample Identity</label>
                                <input id="sampleIdentity" name="sampleIdentity" ng-pattern="/^[a-zA-Z0-9]{4}$/"
                                       maxlength="4"
                                       ng-model="sample.sampleIdentity" flex autocomplete="off">
                                <div ng-messages="editSample.sampleIdentity.$error">
                                    <div ng-message="pattern">Sample identity must be a combination of 4 letters or
                                        numbers.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout class="md-padding">
                            <md-input-container flex="50">
                                <label for="device">Device</label>
                                <input id="device" name="device" type="text" value="{{data.deviceName}}"
                                       disabled>
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Project</label>
                                <md-select ng-model="sample.project" aria-label="Project" required>
                                    <md-option ng-value="project" ng-repeat="project in projectOptions">
                                        {{project.display}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout class="md-padding">
                            <md-input-container flex>
                                <label for="comment">Comment</label>
									<textarea id="comment" ng-model="sample.comment" rows="5"
                                              md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>Measurements</md-tab-label>
                <md-tab-body>
                    <div class="inner-grid">
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                <tr md-row>
                                    <th md-column flex="20">Date</th>
                                    <th md-column flex="10">Temperature</th>
                                    <th md-column flex="20">Test Method</th>
                                    <th md-column flex="10">Value</th>
                                    <th md-column flex="20">Unit</th>
                                    <th md-column flex="20">Status</th>
                                    <th md-column flex>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="measurement in measurements" md-row>
                                    <td md-cell>
                                        <md-input-container class="list-collection">
                                            <label for="measurementDate">Date</label>
                                            <input id="measurementDate" type="text"
                                                   value="{{measurement.date | dateFilter}}"
                                                   ng-disabled="!measurement.edit"
                                                   ng-click="goToEditDate($event, $index, measurement.date)">
                                        </md-input-container>
                                    </td>
                                    <td md-cell>
                                        <md-input-container class="list-collection">
                                            <input ng-model="measurement.temperature" type="text"
                                                   aria-label="Temperature" ng-disabled="!measurement.edit"
                                                   autocomplete="off">
                                        </md-input-container>
                                    </td>
                                    <td md-cell>
                                        <md-input-container class="list-collection">
                                            <md-select placeholder="Test Method" ng-model="measurement.testMethod"
                                                       aria-label="Test Method" ng-disabled="!measurement.edit">
                                                <md-option ng-value="testMethod"
                                                           ng-repeat="testMethod in testMethodOptions">
                                                    {{testMethod.display}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td md-cell>
                                        <md-input-container class="list-collection">
                                            <input ng-model="measurement.value" type="text" aria-label="Value"
                                                   ng-disabled="!measurement.edit" autocomplete="off">
                                        </md-input-container>
                                    </td>
                                    <td md-cell>
                                        <md-input-container class="list-collection">
                                            <md-select placeholder="Unit" ng-model="measurement.unit"
                                                       aria-label="Unit" ng-disabled="!measurement.edit">
                                                <md-option ng-value="unit" ng-repeat="unit in unitOptions">
                                                    {{unit.display}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td ng-switch on="measurement.edit" md-cell>
                                        <span ng-switch-when="true">
                                            <md-switch md-no-ink class="md-hue-1" title="Status" name="status"
                                                       ng-model="measurement.status" aria-label="Status"
                                                       ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'"
                                                       ng-disabled="!measurement.edit">
                                        </md-switch>
                                        </span>
                                        <span ng-switch-default>
                                           {{measurement.status | toRegularCase}}
                                        </span>
                                    </td>
                                    <td md-cell>
                                        <div ng-if="measurement.edit">
                                            <md-button class="md-icon-button" aria-label="Save"
                                                       ng-click="updateMeasurement(measurement, $event); measurement.edit = false">
                                                <md-tooltip>
                                                    Save
                                                </md-tooltip>
                                                <md-icon ng-class="icons.check" class="success fa-2x">
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="Cancel"
                                                       ng-click="measurement.edit = false">
                                                <md-tooltip>
                                                    Cancel
                                                </md-tooltip>
                                                <md-icon ng-class="icons.times" class="fa-2x">
                                                </md-icon>
                                            </md-button>
                                        </div>
                                        <div ng-if="!measurement.edit">
                                            <md-button class="md-icon-button" aria-label="Edit"
                                                       ng-click="measurement.edit = true">
                                                <md-tooltip>
                                                    Edit
                                                </md-tooltip>
                                                <md-icon ng-class="icons.edit" class="fa-2x">
                                                </md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="Delete"
                                                       ng-click="removeMeasurement($index, measurement.id, $event)">
                                                <md-tooltip>
                                                    Delete
                                                </md-tooltip>
                                                <md-icon ng-class="icons.delete" class="fa-2x">
                                                </md-icon>
                                            </md-button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                    <div layout="column" class="add-lc">
                        <md-button class="md-raised md-primary" ng-click="createMeasurement($event)">
                            <span flex>Add Measurement</span>
                        </md-button>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card>
    <div flex="10" flex-gt-md="5" layout="column" class="sidebar">
        <md-button class="md-fab md-primary" ng-click="updateSample($event)" ng-disabled="editSample.$invalid">
            <span ng-class="icons.save"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Save</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-primary" ng-click="viewProject()" ng-show="data.projectId != null">
            <span ng-class="icons.project"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">View Projects</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-fab" ng-click="back()">
            <span ng-class="icons.back"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Back</span>
            </md-tooltip>
        </md-button>
    </div>
</div>