/** General Colors **/
/** General **/
/**********
  Directives
***********/
/** Button **/
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
