@import "global";

html {
  width: 100%;
  height: 100%;
}
body {
  font-size: @default-font-size;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.navbar {
  margin-bottom: 0;
}
.container-fluid {
    padding: 0;
  }
#logo {
  img {
    width: @logo-width;
    height: @logo-height;
    background-color: @navbar-background-color;
  }
}
.sidebar-left {
  width: @logo-width;
  height: calc(~'100% - @{logo-height}');
  background-color: @navbar-background-color;
  float: left;
}
.content {
  width: calc(~'100% - @{logo-width}');
  height: calc(~'100% - @{logo-height}');
  overflow-y: auto;
  float: left;
  padding: 10px 20px;
}
.toc {
  position: absolute;
  right: 0;
}
.list-group-item {
  border: none;
}
.list-group-item > a {
  color: @anchor-color;
}
.list-group-item > a:hover {
  text-decoration: none;
  color: @anchor-hover-color;
}