@import 'global';

* {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  overflow: hidden;
  #left-side {
    @media screen and (max-width:1250px)  {
      font-size: 12px;
    }
    height: 100vh;
    padding: 10px;
    img {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
    }
    ul {
      box-shadow: none;
      border: none;
    }
    .md-button, button {
      text-align: left !important;
      width: 100%;
      padding-right: 0;
      margin-right: 0;
    }
  }
  md-content {
    overflow: hidden !important;
  }
  table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
    height: 45px;
  }
}

