@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.vertical-divider {
  border-top-width: 0;
  border-right: 1px solid;
  height: 100%;
}
.md-button.dropdown {
  overflow: visible;
  /*reset*/
}
.dropdown .dropdown-menu {
  max-width: 0;
  position: absolute;
  left: 40px;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #fff;
  list-style: none;
  transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.dropdown .dropdown-menu .md-button {
  min-width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 6px 16px;
}
.dropdown.active .dropdown-menu {
  max-width: 300px;
  /* set a maxwidth bigger than the widest element */
  left: 0;
  opacity: 1;
}
.device-section {
  background-color: #0063a7 !important;
}
.device-section h2 {
  color: white;
}
.device-section md-menu-bar > md-menu > button {
  color: white;
  background-color: #0063a7;
}
.device-section md-menu-bar > md-menu > button:hover,
.device-section md-menu-bar > md-menu > button:focus {
  background-color: #00548e !important;
}
.project-section {
  background-color: #0063a7 !important;
}
.project-section h2 {
  color: white;
}
.project-section md-menu-bar > md-menu > button {
  color: white;
  background-color: #0063a7;
}
.project-section md-menu-bar > md-menu > button:hover,
.project-section md-menu-bar > md-menu > button:focus {
  background-color: #00548e !important;
}
.sample-section {
  background-color: #0063a7 !important;
}
.sample-section h2 {
  color: white;
}
.sample-section md-menu-bar > md-menu > button {
  color: white;
  background-color: #0063a7;
}
.sample-section md-menu-bar > md-menu > button:hover,
.sample-section md-menu-bar > md-menu > button:focus {
  background-color: #00548e !important;
}
.client-section {
  background-color: grey !important;
}
.client-section h2 {
  color: white;
}
.client-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.client-section md-menu-bar > md-menu > button:hover,
.client-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.investigator-section {
  background-color: grey !important;
}
.investigator-section h2 {
  color: white;
}
.investigator-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.investigator-section md-menu-bar > md-menu > button:hover,
.investigator-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.testmethod-section {
  background-color: grey !important;
}
.testmethod-section h2 {
  color: white;
}
.testmethod-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.testmethod-section md-menu-bar > md-menu > button:hover,
.testmethod-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.unit-section {
  background-color: grey !important;
}
.unit-section h2 {
  color: white;
}
.unit-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.unit-section md-menu-bar > md-menu > button:hover,
.unit-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.user-section {
  background-color: grey !important;
}
.user-section h2 {
  color: white;
}
.user-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.user-section md-menu-bar > md-menu > button:hover,
.user-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.admin-section {
  background-color: grey !important;
}
.admin-section h2 {
  color: white;
}
.admin-section md-menu-bar > md-menu > button {
  color: white;
  background-color: grey;
}
.admin-section md-menu-bar > md-menu > button:hover,
.admin-section md-menu-bar > md-menu > button:focus {
  background-color: #737373 !important;
}
.device {
  color: #0063a7;
}
.project {
  color: #0063a7;
}
.sample {
  color: #0063a7;
}
.client {
  color: grey;
}
.investigator {
  color: grey;
}
.testmethod {
  color: grey;
}
.unit {
  color: grey;
}
.user {
  color: grey;
}
.admin {
  color: grey;
}
.base-color {
  background-color: #DE0000 !important;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
}
.teal-color {
  background-color: #168888 !important;
  color: white !important;
}
* {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}
body h1 {
  font-size: 1.5em !important;
}
body h2 {
  font-weight: normal;
  font-size: 20px;
}
body .fab-text {
  font-size: 16px;
}
body #section-toolbar {
  height: 48px;
  min-height: 48px;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.15);
}
body .section-display {
  padding: 0 0 0 10px;
}
body .section-display md-menu-bar {
  padding: 0;
}
body .section-display md-menu-bar button {
  margin-right: 5px;
}
body md-menu-content {
  background-color: white;
}
body md-menu-content md-menu-item {
  margin: 0;
  height: 45px !important;
}
body md-menu-content md-menu-item button {
  padding: 5px 15px;
}
body md-progress-linear {
  z-index: 100;
  position: absolute;
}
body .image {
  padding: 0 40px 0 10px;
  margin: 10px 0;
}
body .sidebar .md-button {
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
}
body .sidebar .md-button span.fa {
  color: whitesmoke;
}
body .md-chip-content {
  padding-top: 5px;
  height: 100%;
}
body img {
  width: 75%;
  height: 100%;
  max-height: 64px;
  padding: 5px 0 5px 10px;
}
body md-sidenav .submenu {
  padding-left: 5px;
  background-color: #d3d3d3;
}
body md-sidenav .selected {
  background-color: #c7c7c7;
}
body md-sidenav .list-item {
  padding: 6px 10px;
  margin: 0;
}
body md-card {
  background-color: white;
}
body md-content {
  overflow: auto;
}
body table.md-table td.md-cell {
  font-size: 15px;
}
body table.md-table th.md-column {
  font-size: 16px;
}
body table.md-table tbody.md-body > tr.md-row,
body table.md-table table.md-table tfoot.md-foot > tr.md-row {
  height: 45px;
}
body .md-table-pagination {
  font-size: 16px;
}
body md-input-container label,
body md-input-container .md-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body md-select .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body md-select-menu md-content {
  background-color: white;
}
body .md-button {
  text-transform: none;
}
body .md-button .md-fab {
  height: 46px;
  width: 46px;
}
body .list-collection {
  margin: 10px 0 0;
  padding: 0;
  height: 50px;
}
body .grid-status {
  margin: 0;
}
body .remove-button {
  margin-left: 0;
  min-width: 0;
  border-left: 0.5px solid grey;
}
body .edit-button {
  margin-right: 0;
  min-width: 0;
}
body .max-height {
  height: 100vh;
}
body .max-width {
  width: 100vw;
}
body .add-lc > button {
  border-radius: 50px;
}
body .scroll-bar {
  overflow: auto;
}
@media (max-height: 900px) {
  body .scroll-bar {
    height: 60vh;
  }
}
@media (min-height: 900px) {
  body .scroll-bar {
    height: 70vh;
  }
}
body ::-webkit-scrollbar {
  width: .7em;
  overflow: visible;
  border-radius: 4px;
}
body ::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}
body md-option[selected] {
  color: #2196f3;
}
body md-icon {
  color: inherit;
}
body md-icon.success {
  color: green;
}
body md-icon.warn {
  color: red;
}
body .empty-table {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  height: 30vh;
}
body .md-toolbar-tools > h1 {
  padding: 0 10px;
  font-size: 30px;
  color: #323232;
}
body .full-width {
  width: 100%;
}
