@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.vertical-divider {
  border-top-width: 0;
  border-right: 1px solid;
  height: 100%;
}
.md-button.dropdown {
  overflow: visible;
  /*reset*/
}
.dropdown .dropdown-menu {
  max-width: 0;
  position: absolute;
  left: 40px;
  top: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #fff;
  list-style: none;
  transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.dropdown .dropdown-menu .md-button {
  min-width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 6px 16px;
}
.dropdown.active .dropdown-menu {
  max-width: 300px;
  /* set a maxwidth bigger than the widest element */
  left: 0;
  opacity: 1;
}
* {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}
body md-progress-linear {
  z-index: 100;
  position: absolute;
}
body .image {
  padding-left: 0;
}
body img {
  width: 75%;
  height: 100%;
  max-height: 64px;
  padding: 5px 0 5px 10px;
}
body #left-side {
  height: 100vh;
  overflow: hidden;
}
body #left-side ul {
  box-shadow: none;
  border: none;
}
body #left-side .md-button,
body #left-side button {
  text-align: left !important;
  width: 100%;
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 1250px) {
  body #left-side {
    font-size: 12px;
  }
}
body #left-side .submenu {
  padding-left: 5px;
  background-color: #d3d3d3;
}
body #left-side .selected {
  background-color: #c7c7c7;
}
body #left-side .list-item {
  padding: 10px;
  margin: 0;
}
body md-sidenav .submenu {
  padding-left: 5px;
  background-color: #d3d3d3;
}
body md-sidenav .selected {
  background-color: #c7c7c7;
}
body md-sidenav .list-item {
  padding: 6px 10px;
  margin: 0;
}
body md-card {
  background-color: white;
}
body md-content {
  overflow: auto;
}
body table.md-table tbody.md-body > tr.md-row,
body table.md-table tfoot.md-foot > tr.md-row {
  height: 45px;
}
body md-input-container label,
body md-input-container .md-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body md-select .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
body .md-button {
  text-transform: none;
}
body .list-collection {
  margin: 10px 0 0;
  padding: 0;
  height: 50px;
}
body .grid-status {
  margin: 0;
}
body .remove-button {
  margin-left: 0;
  min-width: 0;
  border-left: 0.5px solid grey;
}
body .edit-button {
  margin-right: 0;
  min-width: 0;
}
body .max-height {
  height: 100vh;
}
body .max-width {
  width: 100vw;
}
body .scroll-bar {
  overflow: auto;
  height: 80vh;
}
body ::-webkit-scrollbar {
  width: .7em;
  overflow: visible;
  border-radius: 4px;
}
body ::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}
body md-option[selected] {
  background-color: #fcf8e3;
}
body md-icon {
  color: inherit;
}
body md-icon .md-success-theme {
  color: green;
}
body .empty-table {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  height: 30vh;
}
body .md-toolbar-tools > h1 {
  padding: 0 10px;
  font-size: 30px;
  color: #323232;
}
