.setColor(@color) {
  background-color: @color !important;
  h2 {
    color: white;
  }
  md-menu-bar > md-menu > button {
    color: white;
    background-color: @color;
    &:hover, &:focus {
      background-color: darken(@color, 5) !important;
    }
  }
}

.green-section { .setColor(indigo); }
.red-section { .setColor(darkgreen); }
.purple-section { .setColor(purple); }
.smokewhite-section { .setColor(darkgrey); }
.grey-section { .setColor(grey); }
.lightgrey-section { .setColor(darkred); }
.blue-section { .setColor(rgb(57, 161, 244)); }
.cyan-section { .setColor(violet); }

