@grey: grey;
//@blue: rgb(57, 161, 244);
@blue: #0063A7;
@red: #ff5e5e;
@purple: #cd00dd;

@device-color: @blue;
@project-color: @blue;
@sample-color: @blue;
@client-color: @grey;
@investigator-color: @grey;
@testmethod-color: @grey;
@unit-color: @grey;
@user-color: @grey;

.setColor(@color) {
  background-color: @color !important;
  h2 {
    color: white;
  }
  md-menu-bar > md-menu > button {
    color: white;
    background-color: @color;
    &:hover, &:focus {
      background-color: darken(@color, 5) !important;
    }
  }
}

.device-section { .setColor(@device-color); }
.project-section { .setColor(@project-color); }
.sample-section { .setColor(@sample-color); }
.client-section { .setColor(@client-color); }
.investigator-section { .setColor(@investigator-color); }
.testmethod-section { .setColor(@testmethod-color); }
.unit-section { .setColor(@unit-color); }
.user-section { .setColor(@user-color); }
.admin-section { .setColor(@grey); }

.device { color: @device-color; }
.project { color: @project-color; }
.sample { color: @sample-color; }
.client { color: @client-color; }
.investigator { color: @investigator-color; }
.testmethod { color: @testmethod-color; }
.unit { color: @unit-color; }
.user { color: @user-color; }
.admin { color: @grey; }

.base-color {
  background-color: #DE0000 !important;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
}
.teal-color {
  background-color: #168888 !important;
  color: white !important;
}
