/** General Colors **/
@background-color: #efefef;
@anchor-color: #204dF4;
@anchor-hover-color: #265a88;
@navbar-background-color: #e8e8e8;
/** General **/
@default-font-size: 16px;
@default-font-style: Arial;
@logo-width: 120px;
@logo-height: @logo-width / 2;
@top-nav-height: @logo-height;
@content-width: 90vw;
@content-height: 100vh;
/**********
  Directives
***********/

/** Button **/
@sait-button-background-color: darkgray;