@default-font-size: 16px;
@default-font-style: Arial;
@logo-width: 150px;
@logo-height: @logo-width / 2;
@top-nav-height: @logo-height;
@content-width: 90vw;
@content-height: 100vh;
@logo-padding-width: 10px;
@logo-padding-height: 5px;
@logo-padding-height: 5px;@logo-padding-height: 5px;