<div ng-controller="AboutController">
    <div class="row">
        <div class="col-md-12" id="top">
            <h2 class="text-center">Capstone Directives</h2>
        </div>
        <div class="col-md-10 scroll-section" data-spy="scroll" data-target=".toc">
            <div ng-repeat="directive in directives">
                <directive-detail directive="{{directive}}"></directive-detail>
            </div>
        </div>
        <div class="col-md-2 toc">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="directive in directives">
                    <a href="" ng-href="#{{directive.id}}">{{directive.title}}</a>
                </li>
                <li ng-if="directives" class="list-group-item"><a href="" ng-href="#top">Top of page</a></li>
            </ul>
        </div>
    </div>
</div>