<div ng-controller="UserController">
    <div class="row">
        <div id="content" class="col-md-11">
            <div id="grid" ng-if="activeView == 'grid'">
                <sait-grid></sait-grid>
            </div>

            <div id="information" ng-if="activeView == 'edit' || activeView == 'add'">

            </div>
            <div id="detail" ng-if="activeView == 'detail'">

            </div>
        </div>
        <div class="col-md-1" id="sidebar">
            <div ng-if="activeView == 'grid'">
                <sait-button title="Add" ng-show="!rowSelected"></sait-button>
                <sait-button title="Edit" ng-show="rowSelected"></sait-button>
                <sait-button title="View Details" ng-show="rowSelected"></sait-button>
                <sait-button title="Deselect" ng-show="rowSelected" ng-click="deselect()"></sait-button>
            </div>
            <div ng-if="activeView == 'add'">
                <sait-button></sait-button>
            </div>
            <div ng-if="activeView == 'edit'">
                <sait-button></sait-button>
            </div>
            <div ng-if="activeView == 'detail'">
                <sait-button></sait-button>
            </div>
        </div>
    </div>
</div>
