<md-dialog ng-cloak flex="40">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout>
					<div flex>
						<p>Are you absolutely sure you want to delete {{options.selected[0].name}}?</p>
						<p>NOTE: This process cannot be undone.</p>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="deleteProject()" class="md-raised md-warn md-hue-2">
				Delete
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>