<div ng-controller="AdminProjectOverviewController">

	<h2>{{data.message}}</h2>
    <div layout>
        <md-content flex layout-padding>
            <sait-grid></sait-grid>
        </md-content>
        <md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
            <section layout="column">
                <md-button class="md-primary md-raised" ng-click="showDialog($event)" flex="100"ng-show="options.selected.length > 0">
                    Delete
                </md-button>
                <md-button ng-click="options.deselect()" flex="100" class="md-raised" ng-show="options.selected.length > 0">Deselect</md-button>
            </section>
        </md-sidenav>
    </div>
</div>