<md-dialog ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout class="md-padding">
					<div flex="33">
						<md-input-container>
							<label for="name">Name</label>
							<input id="name" type="text" ng-model="device.name" />
						</md-input-container>
					</div>
					<div flex="33">
						<div flex="33">
							<sait-toggle title="Status" name="status" true="Active" false="Inactive" value="isActive"></sait-toggle>
						</div>
					</div>
				</div>
				<div layout class="md-padding">
					<div flex="33">
						<md-input-container>
							<label for="comment">Comment</label>
							<textarea id="comment" flex="100" ng-model="device.comment" rows="5" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="updateDevice()" class="md-accent md-hue-1 md-raised">
				Save
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>