<div ng-controller="AdminDeviceOverviewController">
    <h2>{{data.message}}</h2>
    <div layout>
        <md-content flex layout-padding>
            <sait-grid></sait-grid>
        </md-content>
        <md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
            <section layout="column">
                <md-button ng-click="goToEditDevice()" ng-style="{width:'100%'}" class="md-raised md-primary" ng-show="options.selected.length > 0">Edit</md-button>
                <md-button ng-click="options.deselect()" ng-style="{width:'100%'}" class="md-raised" ng-show="options.selected.length > 0">Deselect</md-button>
            </section>
        </md-sidenav>
    </div>
</div>