<div class="well">
    <div class="row">
        <div class="col-md-3">
            <sait-textbox title="First Name" name="firstName" value="data.user.firstName"></sait-textbox>
        </div>
        <div class="col-md-3">
            <sait-textbox title="Last Name" name="lastName" value="data.user.lastName"></sait-textbox>
        </div>
        <div class="col-md-3">
            <sait-textbox title="Email" name="email" value="data.user.email"></sait-textbox>
        </div>
        <div class="col-md-3">
            <sait-single-select title="Status" name="status" value="data.user.status" options="data.statusOptions"></sait-single-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <sait-textbox title="Password" name="password" value="data.user.password"></sait-textbox>
        </div>
        <div class="col-md-3">
            <sait-single-select title="Role Type" name="roleType" value="data.user.roleType" options="data.roleTypeOptions"></sait-single-select>
        </div>
    </div>
</div>