<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout>
                    <div flex="33">
                        <md-input-container>
                            <label for="firstName">First Name</label>
                            <input id="firstName" type="text" ng-model="user.firstName" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label for="lastName">Last Name</label>
                            <input id="lastName" type="text" ng-model="user.lastName" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label for="email">Email</label>
                            <input id="email" type="email" ng-model="user.email" />
                        </md-input-container>
                    </div>
                </div>
                <div layout>
                    <div flex="33">
                        <md-input-container>
                            <label for="password">Password</label>
                            <input id="password" type="password" ng-model="user.password" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <sait-single-select title="Role Type" name="roleType" value="selectedRoleType" options="{{roleTypeOptions}}" required></sait-single-select>
                    </div>
                    <div flex="33">
                        <sait-toggle title="Status" name="status" true="Active" false="Inactive" value="isActive"></sait-toggle>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="createUser()" class="md-primary md-raised">
                Save
            </md-button>
            <md-button ng-click="closeDialog()" class="md-raised">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
