<md-dialog ng-cloak>
	<form name="editUser">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
				{{user.status | toRegularCase}}&nbsp;
				<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="user.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
				</md-switch>
			</div>
		</md-toolbar>
		<md-dialog-content layout-padding>
			<div class="md-dialog-content">
				<div layout="column">
					<!--<div flex="33">-->
						<md-input-container class="md-block">
							<label for="firstName">First Name</label>
							<input id="firstName" name="firstName" type="text" ng-model="user.firstName" required autocomplete="off"/>
							<div ng-messages="editUser.firstName.$error">
								<div ng-message="required">A first name is required.</div>
							</div>
						</md-input-container>
					<!--</div>-->
					<!--<div flex="33">-->
						<md-input-container class="md-block">
							<label for="lastName">Last Name</label>
							<input id="lastName" name="lastName" type="text" ng-model="user.lastName" required autocomplete="off"/>
							<div ng-messages="editUser.lastName.$error">
								<div ng-message="required">A last name is required.</div>
							</div>
						</md-input-container>
					<!--</div>-->
					<!--<div flex="33">-->
						<md-input-container class="md-block">
							<label for="email">Email</label>
							<input id="email" name="email" maxlength="255" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required autocomplete="off"/>
							<div ng-messages="editUser.email.$error">
								<div ng-message-exp="['required', 'maxlength', 'pattern']">
									The email must be an e-mail address.
								</div>
							</div>
						</md-input-container>
					<!--</div>-->
				<!--</div>-->
				<!--<div layout>-->
					<!--<div flex="33">-->
						<md-input-container class="md-block">
							<label for="password">Password</label>
							<input id="password" type="password" ng-model="user.password" autocomplete="off"/>
						</md-input-container>
					<!--</div>-->
					<!--<div flex="33">-->
						<md-input-container class="md-block">
							<md-select placeholder="Role Type" ng-model="user.roleType" aria-label="Role Type" required>
								<md-option ng-value="roleType" ng-repeat="roleType in roleTypeOptions">{{roleType.display}}</md-option>
							</md-select>
						</md-input-container>
					<!--</div>-->
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="updateUser($event)" class="md-raised md-primary" ng-disabled="editUser.$invalid">
				Save
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>