<div ng-controller="AdminUserOverviewController">
    <h2>Users Overview</h2>
    <div class="row">
        <div class="col-sm-10">
            <sait-grid></sait-grid>
        </div>
        <div class="col-sm-2" id="sidebar">
            <div>
                <sait-button title="Add" ng-show="!rowSelected" ng-click="goToAddUser()"></sait-button>
                <sait-button title="Edit" ng-show="rowSelected" ng-click="goToEditUser()"></sait-button>
                <sait-button title="Deselect" ng-show="rowSelected" ng-click="deselect()"></sait-button>
            </div>
        </div>
    </div>
</div>