<div ng-controller="AdminUserOverviewController">

    <h2>{{data.message}}</h2>

    <div id="sidebar">
        <div>
            <sait-button title="Add" ng-show="!rowSelected" ng-click="goToAddUser()"></sait-button>
            <sait-button title="Edit" ng-show="rowSelected" ng-click="goToEditUser()"></sait-button>
            <sait-button title="Deselect" ng-show="rowSelected" ng-click="deselect()"></sait-button>
        </div>
    </div>

    <div ng-controller="GridController" ng-init="init()">
        <sait-grid></sait-grid>
    </div>
</div>