<div ng-controller="SampleAddController">
	<div layout>
		<md-content flex>
			<h2>Sample - <small>New</small></h2>
			<md-card flex="100">
				<md-tabs md-dynamic-height md-selected="tabs.selected" md-align-tabs="top">
					<md-tab id="tab1">
						<md-tab-label>General</md-tab-label>
						<md-tab-body>
							<div layout class="md-padding">
								<md-input-container flex="33">
									<label for="lab-id">Lab ID</label>
									<input id="lab-id" type="text" ng-model="sample.labId" flex="80">
								</md-input-container>
								<md-input-container flex="33">
									<label for="reporting-id">Reporting ID</label>
									<input id="reporting-id" type="text" ng-model="sample.reportingId" flex="80">
								</md-input-container>
	                            <span flex="33">
	                                <md-datepicker id="date" ng-model="sample.date" flex="100"></md-datepicker>
	                            </span>
							</div>
							<div layout class="md-padding">
								<md-input-container flex="33">
									<sait-single-select title="Device" name="device" value="selectedDevice" islocal="false" params="{{deviceOptions}}" required></sait-single-select>
								</md-input-container>
								<md-input-container flex="33">
									<sait-single-select title="Project" name="project" value="selectedProject" islocal="false" params="{{projectOptions}}" required></sait-single-select>
								</md-input-container>
								<md-input-container flex="33">
									<sait-toggle title="Status" name="status" true="Active" false="Inactive" value="isActive"></sait-toggle>
								</md-input-container>
							</div>
							<div layout class="md-padding">
								<md-input-container>
									<label for="comment">Comment</label>
									<textarea id="comment" flex="100" ng-model="sample.comment" rows="5" md-select-on-focus></textarea>
								</md-input-container>
							</div>
						</md-tab-body>
					</md-tab>
					<md-tab id="tab2">
						<md-tab-label>Measurements</md-tab-label>
						<md-tab-body>
							<md-card flex="100">
								<!--<md-content ng-show="sample.measurements.length === 0" class="no-content">-->
									<!--No Measurements-->
								<!--</md-content>-->
								<md-content ng-show="sample.measurements.length === 0">

									<table class="table table-bordered table-hover table-condensed">
										<tr style="font-weight: bold">
											<td style="width:35%">Name</td>
											<td style="width:20%">Status</td>
											<td style="width:20%">Group</td>
											<td style="width:25%">Edit</td>
										</tr>
										<tr ng-repeat="user in users">
											<td>
												<!-- editable username (text with validation) -->
											    <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
											      {{ user.name || 'empty' }}
											    </span>
											</td>
											<td>
												<!-- editable status (select-local) -->
											    <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
											      {{ showStatus(user) }}
											    </span>
											</td>
											<td>
												<!-- editable group (select-remote) -->
												<span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
												  {{ showGroup(user) }}
												</span>
											</td>
											<td style="white-space: nowrap">
												<!-- form -->
												<form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
													<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
														save
													</button>
													<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
														cancel
													</button>
												</form>
												<div class="buttons" ng-show="!rowform.$visible">
													<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
													<button class="btn btn-danger" ng-click="removeUser($index)">del</button>
												</div>
											</td>
										</tr>
									</table>

									<button class="btn btn-default" ng-click="addUser()">Add row</button>

								</md-content>
							</md-card>
						</md-tab-body>
					</md-tab>
				</md-tabs>
			</md-card>
		</md-content>
		<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
			<section layout="column">
				<md-button class="md-primary md-raised" ng-click="save()">
					<span flex>Save</span>
				</md-button>
				<md-button class="md-raised" ng-click="cancel()">
					<span flex>Cancel</span>
				</md-button>
			</section>
		</md-sidenav>

		<!--<div ng-show="sample.measurements.length === 0">-->
		<!--<div class="no-content">No Measurements to show</div>-->
		<!--</div>-->
		<!--<div ng-show="sample.measurements.length > 0">-->
		<!--<div class="lc-header">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-offset-1 col-sm-4">-->
		<!--Value-->
		<!--</div>-->
		<!--<div class="col-sm-3">-->
		<!--Unit-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--Temperature-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--Test Method-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--Status-->
		<!--</div>-->
		<!--<div class="col-sm-2">-->
		<!--Delete-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="row lc-body">-->
		<!--<div class="well-lg" ng-repeat="measure in sample.measurements track by $index">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-1">-->
		<!--{{$index + 1}}-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-number-picker value="measure.value" isInteger="false"></sait-number-picker>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-3">-->
		<!--<div class="form-group">-->
		<!--<sait-single-select options="{{unitOptions}}" value="measure.unit"></sait-single-select>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-number-picker value="measure.temperature" isInteger="false"></sait-number-picker>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="form-group">-->
		<!--<sait-single-select value="measure.testMethod" options="{{testMethodOptions}}"></sait-single-select>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-toggle true="Active" false="Inactive" value="measure.isActive"></sait-toggle>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-2">-->
		<!--<button class="btn btn-info" ng-click="removeMeasurement($index)">Delete</button>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="panel-footer" ng-show="activeTab === tabs[1]">-->
		<!--<sait-button ng-click="addMeasurement()" title="Add Measurement"></sait-button>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-md-1 col-sm-2" id="sidebar">-->

		<!--</div>-->
		<!--</div>-->
	</div>
</div>