<div ng-controller="SampleAddController">
	<div layout>
		<md-content flex layout-padding>
			<md-card flex="100">
				<div class="md-toolbar-tools">
					<h2>Sample - <small>New</small></h2>
					<span flex></span>
					{{sample.status | toRegularCase}}&nbsp;
					<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="sample.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
					</md-switch>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="25">
						<label for="lab-id">Lab ID</label>
						<input id="lab-id" type="text" ng-model="sample.labId" flex="80">
					</md-input-container>
					<md-input-container flex="25">
						<label for="companyName">Company Name</label>
						<input id="companyName" type="text" ng-model="sample.companyName" flex="100">
					</md-input-container>
					<md-input-container flex="25">
						<label for="creationDate">Creation Date</label>
						<input id="creationDate" type="text" ng-model="sample.creationDate" flex="100">
					</md-input-container>
					<md-input-container flex="25">
						<label for="sampleIdentity">Sample Identity</label>
						<input id="sampleIdentity" type="text" ng-model="sample.sampleIdentity" flex="100">
					</md-input-container>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="33">
						<md-select placeholder="Device" ng-model="sample.device" aria-label="Device">
							<md-option ng-value="device" ng-repeat="device in deviceOptions">{{device.display}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="33">
						<md-select placeholder="Project" ng-model="sample.project" aria-label="Project">
							<md-option ng-value="project" ng-repeat="project in projectOptions">{{project.display}}</md-option>
						</md-select>
					</md-input-container>
				<md-input-container flex="33">
					<md-button ng-click="goToEditDate($event)" aria-label="Date">
						<md-tooltip>
							Edit
						</md-tooltip>
						<span flex>{{sample.date | dateFilter}}</span>
					</md-button>
                </md-input-container>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="50">
						<label for="comment">Comment</label>
						<textarea id="comment" flex="100" ng-model="sample.comment" rows="5" md-select-on-focus></textarea>
					</md-input-container>
				</div>
			</md-card>
		</md-content>
		<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
			<section layout="column">
				<md-button class="md-primary md-raised" ng-click="save()">
					<span flex>Save</span>
				</md-button>
				<md-button class="md-raised" ng-click="cancel()">
					<span flex>Cancel</span>
				</md-button>
			</section>
		</md-sidenav>

		<!--<div ng-show="sample.measurements.length === 0">-->
		<!--<div class="no-content">No Measurements to show</div>-->
		<!--</div>-->
		<!--<div ng-show="sample.measurements.length > 0">-->
		<!--<div class="lc-header">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-offset-1 col-sm-4">-->
		<!--Value-->
		<!--</div>-->
		<!--<div class="col-sm-3">-->
		<!--Unit-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--Temperature-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--Test Method-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--Status-->
		<!--</div>-->
		<!--<div class="col-sm-2">-->
		<!--Delete-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="row lc-body">-->
		<!--<div class="well-lg" ng-repeat="measure in sample.measurements track by $index">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-1">-->
		<!--{{$index + 1}}-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-number-picker value="measure.value" isInteger="false"></sait-number-picker>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-3">-->
		<!--<div class="form-group">-->
		<!--<sait-single-select options="{{unitOptions}}" value="measure.unit"></sait-single-select>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-number-picker value="measure.temperature" isInteger="false"></sait-number-picker>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-6">-->
		<!--<div class="row">-->
		<!--<div class="col-sm-6">-->
		<!--<div class="form-group">-->
		<!--<sait-single-select value="measure.testMethod" options="{{testMethodOptions}}"></sait-single-select>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-4">-->
		<!--<div class="form-group">-->
		<!--<sait-toggle true="Active" false="Inactive" value="measure.isActive"></sait-toggle>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-sm-2">-->
		<!--<button class="btn btn-info" ng-click="removeMeasurement($index)">Delete</button>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="panel-footer" ng-show="activeTab === tabs[1]">-->
		<!--<sait-button ng-click="addMeasurement()" title="Add Measurement"></sait-button>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="col-md-1 col-sm-2" id="sidebar">-->

		<!--</div>-->
		<!--</div>-->
	</div>
</div>