<div ng-controller="SampleAddController">
	<div layout>
		<md-content flex layout-padding>
			<md-card flex="100">
				<div class="md-toolbar-tools">
					<h2>Sample - <small>New</small></h2>
					<span flex></span>
					{{sample.status | toRegularCase}}&nbsp;
					<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="sample.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
					</md-switch>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="50">
						<label for="lab-id">Lab ID</label>
						<input id="lab-id" type="text" ng-model="sample.labId" />
					</md-input-container>
					<md-input-container flex="50">
						<md-button ng-click="goToEditDate($event)" aria-label="Date">
							<md-tooltip>
								Edit
							</md-tooltip>
							<span flex>{{sample.date | dateFilter}}</span>
						</md-button>
					</md-input-container>
				</div>
				<div layout class="md-padding">
					<span flex><label>Sample Identifier</label></span>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="33">
						<label for="companyName">Company Name</label>
						<input id="companyName" type="text" ng-model="sample.companyName" flex="100">
					</md-input-container>
					<md-input-container flex="33">
						<label for="creationDate">Creation Date</label>
						<input id="creationDate" type="text" ng-model="sample.creationDate" flex="100">
					</md-input-container>
					<md-input-container flex="33">
						<label for="sampleIdentity">Sample Identity</label>
						<input id="sampleIdentity" type="text" ng-model="sample.sampleIdentity" flex="100">
					</md-input-container>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="50">
						<label>Device</label>
						<md-select placeholder="Device" ng-model="sample.device" aria-label="Device">
							<md-option ng-value="device" ng-repeat="device in deviceOptions">{{device.display}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="50">
						<label>Project</label>
						<md-select placeholder="Project" ng-model="sample.project" aria-label="Project">
							<md-option ng-value="project" ng-repeat="project in projectOptions">{{project.display}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout class="md-padding">
					<md-input-container flex="100">
						<label for="comment">Comment</label>
						<textarea id="comment" ng-model="sample.comment" rows="5" md-select-on-focus></textarea>
					</md-input-container>
				</div>
			</md-card>
		</md-content>
		<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
			<section layout="column">
				<md-button class="md-accent md-hue-3 md-raised" ng-click="createSample()">
					<span flex>Save</span>
				</md-button>
				<md-button class="md-raised" ng-click="cancel()">
					<span flex>Cancel</span>
				</md-button>
			</section>
		</md-sidenav>
	</div>
</div>