<md-dialog ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout="column">
					<md-input-container>
						<label>Project</label>
						<md-select id="project" ng-model="selectedProject" md-on-open="loadProjects()"
						           aria-label="Project">
							<md-option ng-value="project" ng-repeat="project in projectOptions">
								{{project.display}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="assignToProject()" class="md-raised md-primary">
				Assign
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>