<div ng-controller="SampleEditController">
	<div layout>
		<md-content flex>
			<h2>Sample - <small>{{sample.id}}</small></h2>
			<md-card flex="100">
				<md-tabs md-dynamic-height md-selected="tabs.selected" md-align-tabs="top">
					<md-tab id="tab1">
						<md-tab-label>General</md-tab-label>
						<md-tab-body>
							<div layout class="md-padding">
								<md-input-container flex="33">
									<label for="lab-id">Lab ID</label>
									<input id="lab-id" type="text" ng-model="sample.labId" flex="80">
								</md-input-container>
								<md-input-container flex="33">
									<label for="reporting-id">Reporting ID</label>
									<input id="reporting-id" type="text" ng-model="sample.reportingId" flex="80">
								</md-input-container>
	                            <span flex="33">
	                                <md-datepicker id="date" ng-model="sample.date" flex="100"></md-datepicker>
	                            </span>
							</div>
							<div layout class="md-padding">
								<md-input-container flex="33">
									<sait-single-select title="Device" name="device" value="selectedDevice" islocal="false" params="{{deviceOptions}}" required></sait-single-select>
								</md-input-container>
								<md-input-container flex="33">
									<sait-single-select title="Project" name="project" value="selectedProject" islocal="false" params="{{projectOptions}}" required></sait-single-select>
								</md-input-container>
								<md-input-container>
									<md-switch class="md-hue-1 md-no-ink" title="Status" name="status" ng-model="sample.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
										{{sample.status | toRegularCase}}
									</md-switch>
								</md-input-container>
							</div>
							<div layout class="md-padding">
								<md-input-container>
									<label for="comment">Comment</label>
									<textarea id="comment" flex="100" ng-model="sample.comment" rows="5" md-select-on-focus></textarea>
								</md-input-container>
							</div>
						</md-tab-body>
					</md-tab>
					<md-tab id="tab2">
						<md-tab-label>Measurements</md-tab-label>
						<md-tab-body>
							<md-card flex="100">
								<!--<md-content ng-show="sample.measurements.length === 0" class="no-content">-->
									<!--No Measurements-->
								<!--</md-content>-->
								<md-content>
								<!--<md-content ng-show="sample.measurements.length > 0">-->
									<md-table-container>
										<table md-table>
											<thead md-head>
											<tr md-row>
												<th md-column flex="20">Date</th>
												<th md-column flex="10">Temperature</th>
												<th md-column flex="20">Test Method</th>
												<th md-column flex="10">Value</th>
												<th md-column flex="20">Unit</th>
												<th md-column flex="20">Status</th>
												<th md-column flex>Edit</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="measurement in measurements" md-row>
												<td md-cell>
													{{measurement.date | dateFilter}}
												</td>
												<td md-cell>
													<md-input-container class="list-collection">
														<label> </label>
														<input ng-model="measurement.temperature" type="text" aria-label="Temperature" ng-disabled="!measurement.edit">
													</md-input-container>
												</td>
												<td md-cell>
													<md-input-container class="list-collection">
														<md-select placeholder="Test Method" ng-model="measurement.testMethod" aria-label="Test Method" ng-disabled="!measurement.edit">
															<md-option ng-value="testMethod" ng-repeat="testMethod in testMethodOptions">{{testMethod.display}}</md-option>
														</md-select>
													</md-input-container>
												</td>
												<td md-cell>
													<md-input-container class="list-collection">
														<label> </label>
														<input ng-model="measurement.value" type="text" aria-label="Value" ng-disabled="!measurement.edit">
													</md-input-container>
												</td>
												<td md-cell>
													<md-input-container class="list-collection">
														<md-select placeholder="Unit" ng-model="measurement.unit" aria-label="Unit" ng-disabled="!measurement.edit">
															<md-option ng-value="unit" ng-repeat="unit in unitOptions">{{unit.display}}</md-option>
														</md-select>
													</md-input-container>
												</td>
												<td md-cell>
													<md-switch class="md-hue-1 md-no-ink" ng-model="measurement.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'" ng-disabled="!measurement.edit">
													</md-switch>
												</td>
												<td md-cell>
													<div ng-if="measurement.edit">
														<md-button class="md-icon-button" aria-label="Save" ng-click="measurement.edit = false">
															<md-tooltip>
																Save
															</md-tooltip>
															<md-icon class="fa fa-check fa-2x">
															</md-icon>
														</md-button>
														<md-button class="md-icon-button" aria-label="Cancel" ng-click="measurement.edit = false">
															<md-tooltip>
																Cancel
															</md-tooltip>
															<md-icon class="fa fa-times fa-2x">
															</md-icon>
														</md-button>
														<!--<span ng-click="measurement.edit = false">-->
		                                                    <!--<i class="fa fa-check fa-2x"></i>-->
	                                                    <!--</span>-->
	                                                    <!--<span ng-click="measurement.edit = false">-->
		                                                    <!--<i class="fa fa-times fa-2x"></i>-->
	                                                    <!--</span>-->
													</div>
													<div ng-if="!measurement.edit">
														<md-button class="md-icon-button" aria-label="Edit" ng-click="measurement.edit = true">
															<md-tooltip>
																Edit
															</md-tooltip>
															<md-icon class="fa fa-pencil-square-o fa-2x">
															</md-icon>
														</md-button>
														<md-button class="md-icon-button" aria-label="Delete" ng-click="removeMeasurement($index)">
															<md-tooltip>
																Delete
															</md-tooltip>
															<md-icon class="fa fa-trash fa-2x">
															</md-icon>
														</md-button>
														<!--<span ng-click="measurement.edit = true">-->
		                                                    <!--<i class="fa fa-pencil-square-o fa-2x"></i>-->
	                                                    <!--</span>-->
	                                                    <!--<span ng-click="removeMeasurement($index)">-->
		                                                    <!--<i class="fa fa-trash fa-2x"></i>-->
	                                                    <!--</span>-->
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</md-table-container>
									<md-button class="md-accent md-hue-3 md-raised" ng-click="addMeasurement()">Add Measurement</md-button>
								</md-content>
							</md-card>
						</md-tab-body>
					</md-tab>
				</md-tabs>
			</md-card>
		</md-content>
		<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
			<section layout="column">
				<md-button class="md-primary md-raised" ng-click="test()">
					<span flex>Save</span>
				</md-button>
				<md-button class="md-raised" ng-click="cancel()">
					<span flex>Cancel</span>
				</md-button>
			</section>
		</md-sidenav>
	</div>
</div>