<div layout>
	<md-content flex layout-padding>
        <h2>{{data.message}}</h2>
        <grid multiple="true"></grid>
	</md-content>
	<md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
		<section layout="column">
			<md-button class="md-raised md-primary" ng-click="goToAddSample()" ng-show="getNumberOfSelectedRows() === 0">
				<span flex>Add</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="goToEditSample()" ng-show="getNumberOfSelectedRows() === 2">
				<span flex>View</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="assignSamples($event)" ng-show="getNumberOfSelectedRows() > 0">
				<span flex>Assign</span>
			</md-button>
			<md-button class="md-raised" ng-click="deselectRows()" ng-show="getNumberOfSelectedRows() > 0">
				<span flex>Deselect</span>
			</md-button>
		</section>
	</md-sidenav>
</div>