<div layout>
	<md-content flex layout-padding>
        <md-card>
            <grid multiple="true"></grid>
        </md-card>
	</md-content>
	<md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
		<section layout="column">
			<md-button class="md-fab md-primary" ng-click="goToAddSample()">
				<span ng-class="icons.add"></span>
                <md-tooltip md-direction="left">
                    <span class="fab-text">Add</span>
                </md-tooltip>
			</md-button>
			<md-button class="md-fab md-primary" ng-click="goToEditSample()" ng-show="getNumberOfSelectedRows() === 2">
				<span ng-class="icons.view"></span>
                <md-tooltip md-direction="left">
                    <span class="fab-text">View</span>
                </md-tooltip>
			</md-button>
			<md-button class="md-fab md-primary" ng-click="assignSamples($event)" ng-show="getNumberOfSelectedRows() > 0">
                <span ng-class="icons.assign"></span>
                <md-tooltip md-direction="left">
                    <span class="fab-text">Assign to Project</span>
                </md-tooltip>
			</md-button>
			<md-button class="md-fab md-primary" ng-click="export()">
				<span ng-class="icons.exportData"></span>
				<md-tooltip md-direction="left">
                    <span class="fab-text">Export</span>
                </md-tooltip>
			</md-button>
			<md-button class="md-fab" ng-click="deselect()" ng-show="getNumberOfSelectedRows() > 0">
                <span ng-class="icons.deselect"></span>
                <md-tooltip md-direction="left">
                    <span class="fab-text">Deselect</span>
                </md-tooltip>
			</md-button>
		</section>
	</md-sidenav>
</div>