<div ng-controller="SampleOverviewController">
	<div layout>
		<md-content flex layout-padding>
            <h2>{{data.message}}</h2>
            <grid></grid>
		</md-content>
		<md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
			<section layout="column">
				<md-button class="md-accent md-hue-3 md-raised" ng-click="goToAddSample()" ng-show="options.selected.length === 0">
					<span flex>Add</span>
				</md-button>
				<md-button class="md-accent md-hue-3 md-raised" ng-click="goToEditSample()" ng-show="options.selected.length > 0">
					<span flex>Edit</span>
				</md-button>
				<md-button class="md-raised md-accent md-hue-2" ng-click="options.deselect()" ng-show="options.selected.length > 0">
					<span flex>Deselect</span>
				</md-button>
			</section>
		</md-sidenav>
	</div>
</div>