<md-dialog ng-cloak>
    <md-toolbar class="md-toolbar-tools">
        <h2>Export File</h2>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div>
                Click the link below to start the file download
            </div>
            <div>
                <a ng-href="{{fileUrl}}" download="{{fileName}}" ng-click="options.closeDialog()">Download</a>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <span flex></span>
        <md-button ng-click="options.closeDialog()" class="md-raised md-accent md-hue-1">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>