<md-dialog ng-cloak flex="30">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}} - <small>{{filter.field | convertCamel}}</small></h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container ng-if="filterType === 'input'">
                    <label for="search-by">Filter By</label>
                    <input id="search-by" type="text" ng-model="filter.search" ng-disabled="filterType === 'select'">
                </md-input-container>
                <sait-single-select title="Filter By" options="{{options.filterInput}}" value="filter.search" ng-if="filterType === 'select'"></sait-single-select>
                <md-input-container ng-if="filterType === 'input'">
                    <label for="search">Filter Text</label>
                    <input type="text" ng-model="filter.text" id="search">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="options.appendFilter()" class="md-accent md-hue-2 md-raised">
                Add Filter
            </md-button>
            <md-button ng-click="options.closeDialog()" class="md-raised md-accent md-hue-1">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
