@import "./../../../assets/css/global";

.md-table {
  thead {
    color: @black-blue-hue1-background-color;
    md-checkbox {
      visibility: hidden;
    }
    .md-button {
      min-width: 0;
    }
  }
}