@selected-row-background-color: #66afe9;

sait-grid {
  .table > tbody > tr.active > td {
    background-color: @selected-row-background-color;
    &:hover {
      background-color: @selected-row-background-color;
    }
  }
}
.myGrid {
  width: 100%;
  height: 100%;
}
