<md-dialog ng-cloak flex="30">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label for="filter-name">Filter Name</label>
                    <input id="filter-name" type="text" ng-model="filter.name" aria-label="Filter Name" autocomplete="off">
                </md-input-container>
                <md-input-container>
                    <label for="filter-column">Column</label>
                    <md-select ng-model="filter.column" id="filter-column" aria-label="Filter Column">
                        <md-option ng-repeat="item in options.headers track by $index" ng-value="item">
                            {{item | convertCamel}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label for="filter-type">Type</label>
                    <md-select ng-model="filter.type" id="filter-type" aria-label="Filter Type">
                        <md-option ng-repeat="item in options.filterTypeOptions track by $index" ng-value="item.value">
                            {{item.display}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label for="value">Filter Text</label>
                    <input type="text" ng-model="filter.value" id="value" autocomplete="off">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="options.appendFilter(filter)" class="md-raised md-primary">
                <span ng-if="adding">Add</span>
                <span ng-if="!adding">Edit</span>
                Filter
            </md-button>
            <md-button ng-click="options.closeDialog()" class="md-raised">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
