<ul>
    <li ng-repeat="item in items track by $index" ng-if="item.accessLevel.indexOf(currentUser.roleType) >= 0">
        <md-divider ng-if="divider"></md-divider>
        <md-button ng-if="!item.subMenu" ng-click="navigateTo(item.destination)" class="list-item" aria-label="item">
            <span flex>
                <span class="fa" ng-class="item.icon"></span>
                {{item.display}}
            </span>
        </md-button>
        <md-button ng-if="item.subMenu" ng-click="toggle()" aria-label="item" class="list-item" ng-class="{selected: isOpen()}">
            <span flex>
                <span class="fa" ng-class="item.icon"></span>
                {{item.display}}
            </span>
            <span ng-show="isOpen()" class="fa fa-caret-down"></span>
            <span ng-show="!isOpen()" class="fa fa-caret-right"></span>
        </md-button>
        <ul ng-if="item.subMenu" ng-show="isOpen()" ng-class="{submenu: isOpen()}">
            <li ng-repeat="sub in item.subMenu track by $index" ng-if="item.accessLevel.indexOf(currentUser.roleType) >= 0">
                <md-divider ng-if="divider"></md-divider>
                <md-button ng-click="navigateTo(sub.destination)" aria-label="item" class="list-item">
                    <span flex>
                        <span class="fa" ng-class="sub.icon"></span>
                        {{sub.display}}
                    </span>
                </md-button>
            </li>
        </ul>
    </li>
</ul>