<label for="{{name}}" ng-if="title">{{title}}</label>
<span class="input-group" ng-style="width" ng-if="isInline">
    <div ng-if="symbolLeft" class="input-group-addon">{{symbol}}</div>
    <input id="{{name}}" type="number" step="{{step}}" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" />
    <div ng-if="symbol != '' && !symbolLeft" class="input-group-addon">{{symbol}}</div>
</span>
<div class="input-group" ng-style="width" ng-if="!isInline">
    <div ng-if="symbolLeft" class="input-group-addon">{{symbol}}</div>
    <input id="{{name}}" type="number" step="{{step}}" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" />
    <div ng-if="symbol != '' && !symbolLeft" class="input-group-addon">{{symbol}}</div>
</div>
