<div class="form-group" ng-style="style">
    <label for="{{name}}">{{title}}</label>
    <input id="{{name}}" type="text" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" ng-if="type === 'text'" />
    <input id="{{name}}" type="password" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" ng-if="type === 'password'" />
    <input id="{{name}}" type="email" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" ng-if="type === 'email'" />
    <input id="{{name}}" type="submit" class="form-control" placeholder="{{placeholder}}" ng-model="value" name="{{name}}" ng-if="type === 'submit'" />
</div>
