<div layout>
	<md-content flex layout-padding>
		<md-card flex>
			<div class="md-toolbar-tools">
				<h2>Device - <small>{{device.name}}</small></h2>
				<span flex></span>
				{{device.status | toRegularCase}}&nbsp;
				<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="device.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'" disabled>
				</md-switch>
				<md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
					<md-tooltip md-direction="down">
						Refresh
					</md-tooltip>
					<md-icon class="fa fa-refresh fa-2x">
					</md-icon>
				</md-button>
			</div>
			<md-tabs md-dynamic-height md-selected="tabs.selected" md-align-tabs="top">
				<md-tab id="tab1">
					<md-tab-label>General</md-tab-label>
					<md-tab-body>
						<div layout class="md-padding">
							<md-input-container flex="25">
								<label for="name">Name</label>
								<input id="name" type="text" ng-model="device.name" disabled  autocomplete="off">
							</md-input-container>
						</div>
						<div layout class="md-padding">
							<md-input-container flex>
								<label for="comment">Comment</label>
								<textarea id="comment" ng-model="device.comment" rows="5" md-select-on-focus></textarea>
							</md-input-container>
						</div>
					</md-tab-body>
				</md-tab>
				<md-tab id="tab2">
					<md-tab-label>Samples</md-tab-label>
					<md-tab-body>
						<md-content flex layout-padding>
							<grid></grid>
						</md-content>
					</md-tab-body>
				</md-tab>
			</md-tabs>
		</md-card>
	</md-content>
	<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
		<section layout="column">
			<md-button class="md-raised md-primary" ng-click="updateDevice()">
				<span flex>Save</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="goToAddSamples()">
				<span flex>Add Samples</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="goToSample()" ng-show="options.selected.length === 1">
				<span flex>Edit Sample</span>
			</md-button>
			<md-button class="md-raised" ng-click="options.deselect()" ng-show="options.selected.length > 0">
				<span flex>Deselect</span>
			</md-button>
		</section>
	</md-sidenav>
</div>