<div layout>
    <md-content flex layout-padding>
        <md-card>
            <grid></grid>
        </md-card>
    </md-content>
    <div flex="10" flex-gt-md="5" layout-padding layout="column" class="sidebar">
        <md-button class="md-fab md-primary" ng-click="goToEditDevice()" ng-show="getNumberOfSelectedRows() > 0">
            <span ng-class="icons.view"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">View Device</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-fab" ng-click="options.deselect()" ng-show="getNumberOfSelectedRows() > 0">
            <span ng-class="icons.deselect"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Deselect</span>
            </md-tooltip>
        </md-button>
    </div>
</div>