<div layout>
    <md-content flex layout-padding>
        <md-card>
            <grid></grid>
        </md-card>
    </md-content>
    <md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
        <section layout="column">
            <md-button class="md-raised md-primary" ng-click="goToEditDevice()" ng-show="options.selected.length > 0">
                <span flex>View</span>
            </md-button>
            <md-button class="md-raised" ng-click="options.deselect()" ng-show="options.selected.length > 0">
                <span flex>Deselect</span>
            </md-button>
        </section>
    </md-sidenav>
</div>