<div layout>
    <md-content flex layout-padding>
        <md-card flex>
            <form name="addProject">
                <div class="md-toolbar-tools">
                    <h2>Project -
                        <small>New</small>
                    </h2>
                    <span flex></span>
                    {{project.status | toRegularCase}}&nbsp;
                    <md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="project.status"
                               aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
                    </md-switch>
                    <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
                        <md-tooltip md-direction="down">
                            Refresh
                        </md-tooltip>
                        <md-icon ng-class="icons.refresh" class="fa-2x">
                        </md-icon>
                    </md-button>
                </div>
                <div layout class="md-padding" layout-align="space-between center">
                    <md-input-container flex="25">
                        <label for="projectId">Project ID *</label>
                        <input id="projectId" name="projectId" type="text" ng-model="project.projectId" required
                               autocomplete="off">
                        <div ng-messages="addProject.projectId.$error">
                            <div ng-message="required">A project ID is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label for="name">Name *</label>
                        <input id="name" name="name" type="text" ng-model="project.name" required autocomplete="off">
                        <div ng-messages="addProject.name.$error">
                            <div ng-message="required">A name for the project is required.</div>
                        </div>
                    </md-input-container>
                    <div flex="45"></div>
                </div>
                <div layout class="md-padding" layout-align="space-between center">
                    <md-input-container flex="25">
                        <label for="start-date">Start Date</label>
                        <input id="start-date" type="text" value="{{project.startDate | dateFilter}}"
                               ng-click="goToEditStartDate($event)">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label for="end-date">End Date</label>
                        <input id="end-date" type="text" value="{{project.endDate | dateFilter}}"
                               ng-click="goToEditEndDate($event)">
                    </md-input-container>
                    <div flex="45"></div>
                </div>
                <div layout class="md-padding" layout-align="space-between center">
                    <md-input-container flex="30">
                        <label>Clients *</label>
                        <md-select multiple ng-model="project.clients" aria-label="Clients" required>
                            <md-option ng-value="client" ng-repeat="client in clientOptions">{{client.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Users *</label>
                        <md-select multiple ng-model="project.users" aria-label="Users" required>
                            <md-option ng-value="user" ng-repeat="user in userOptions">{{user.display}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Investigator *</label>
                        <md-select ng-model="project.investigator" aria-label="Investigator" required>
                            <md-option ng-value="investigator" ng-repeat="investigator in investigatorOptions">
                                {{investigator.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout class="md-padding">
                    <md-input-container flex>
                        <label for="comment">Comment</label>
                        <textarea id="comment" ng-model="project.comment" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
        </md-card>
    </md-content>
    <div flex="10" flex-gt-md="5" layout="column" class="sidebar">
        <md-button class="md-fab md-primary" ng-click="createProject()"
                   ng-disabled="addProject.$invalid || project.investigator.value == null">
            <span ng-class="icons.save"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Save</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-fab" ng-click="cancel()">
            <span ng-class="icons.cancel"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Cancel</span>
            </md-tooltip>
        </md-button>
    </div>
</div>