<div layout>
	<md-content flex layout-padding>
		<md-card flex>
			<div class="md-toolbar-tools">
				<h2>Project -
					<small>{{project.id}}</small>
				</h2>
				<span flex></span>
				{{project.status | toRegularCase}}&nbsp;
				<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="project.status"
				           aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
				</md-switch>
				<md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
					<md-tooltip md-direction="down">
						Refresh
					</md-tooltip>
					<md-icon class="fa fa-refresh fa-2x">
					</md-icon>
				</md-button>
			</div>
			<md-tabs md-dynamic-height md-selected="tabs.selected" md-align-tabs="top">
				<md-tab id="tab1">
					<md-tab-label>General</md-tab-label>
					<md-tab-body>
						<div layout class="md-padding">
							<md-input-container flex="25">
								<label for="project-id">Project ID</label>
								<input id="project-id" type="text" ng-model="project.projectId" disabled
								       autocomplete="off">
							</md-input-container>
							<md-input-container flex="25">
								<label for="name">Name</label>
								<input id="name" type="text" ng-model="project.name" autocomplete="off">
							</md-input-container>
                            <span flex="25">
	                            <span flex>
		                            <label>Start Date</label>
		                            {{project.startDate | dateFilter}}
	                            </span>
                            </span>
							<span flex="25">
								<label>End Date</label>
								<md-button ng-click="goToEditEndDate($event)" aria-label="End Date">
									<md-tooltip>
										Edit
									</md-tooltip>
									<span flex>{{project.endDate | dateFilter}}</span>
								</md-button>
                            </span>
						</div>
						<div layout class="md-padding">
							<md-input-container flex="33">
								<label>Clients</label>
								<md-select multiple placeholder="Clients" ng-model="project.clients"
								           aria-label="Clients">
									<md-option ng-value="client" ng-repeat="client in clientOptions">
										{{client.display}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-input-container flex="33">
								<label>Users</label>
								<md-select multiple placeholder="Users" ng-model="project.users" aria-label="Users">
									<md-option ng-value="user" ng-repeat="user in userOptions">{{user.display}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-input-container flex="33">
								<label>Investigator</label>
								<md-select placeholder="Investigator" ng-model="project.investigator"
								           aria-label="Investigator">
									<md-option ng-value="investigator" ng-repeat="investigator in investigatorOptions">
										{{investigator.display}}
									</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout class="md-padding">
							<md-input-container flex>
								<label for="comment">Comment</label>
								<textarea id="comment" ng-model="project.comment" rows="5"
								          md-select-on-focus></textarea>
							</md-input-container>
						</div>
					</md-tab-body>
				</md-tab>
				<md-tab id="tab2">
					<md-tab-label>Samples</md-tab-label>
					<md-tab-body>
						<md-content flex layout-padding>
							<grid multiple="true"></grid>
						</md-content>
					</md-tab-body>
				</md-tab>
			</md-tabs>
		</md-card>
	</md-content>
	<md-sidenav flex="20" flex-gt-md="10" layout="column" md-is-locked-open="true">
		<section layout="column">
			<md-button class="md-raised md-primary" ng-click="updateProject()">
				<span flex>Save</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="viewReport()">
				<span flex>View Report</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="goToAddSample()"
			           ng-show="getNumberOfSelectedRows() === 0">
				<span flex>Add Sample</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="goToEditSample()"
			           ng-show="getNumberOfSelectedRows() === 2">
				<span flex>View Sample</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="removeFromProject(); deselectRows()"
			           ng-show="getNumberOfSelectedRows() > 0">
				<span flex>Remove</span>
			</md-button>
			<md-button class="md-raised" ng-click="deselectRows()" ng-show="getNumberOfSelectedRows() > 0">
				<span flex>Deselect</span>
			</md-button>
			<md-button class="md-raised" ng-click="goToOverview()">
				<span flex>Go To Overview</span>
			</md-button>
		</section>
	</md-sidenav>
</div>