<md-dialog ng-cloak>
	<form name="addInvestigator">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
				{{investigator.status | toRegularCase}}&nbsp;
				<md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="investigator.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
				</md-switch>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout>
					<div flex="33">
						<md-input-container>
							<label for="name">Name</label>
							<input id="name" name="name" type="text" ng-model="investigator.name" required autocomplete="off">
							<div ng-messages="addInvestigator.name.$error">
								<div ng-message="required">A name for the investigator is required.</div>
							</div>
						</md-input-container>
					</div>
					<div flex="33">
						<md-input-container>
							<label for="phoneNumber">Phone Number</label>
							<input id="phoneNumber" name="phoneNumber" type="text" ng-model="investigator.phoneNumber" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" required autocomplete="off">
							<div ng-messages="addInvestigator.phoneNumber.$error">
								<div ng-message="required">A phone number for the investigator is required.</div>
								<div ng-message="pattern">### ###-#### - Please enter a valid phone number.</div>
							</div>
						</md-input-container>
					</div>
					<div flex="33">
						<md-input-container>
							<label for="email">Email</label>
							<input id="email" name="email" type="email" ng-model="investigator.email" maxlength="255" ng-pattern="/^.+@.+\..+$/" required autocomplete="off">
							<div ng-messages="addInvestigator.email.$error">
								<div ng-message-exp="['required', 'maxlength', 'pattern']">
									The email must be an e-mail address.
								</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<div layout>
					<div flex="33">
						<md-input-container>
							<label for="comment">Comment</label>
							<textarea id="comment" flex="100" ng-model="investigator.comment" rows="5" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="createInvestigator()" class="md-raised md-primary" ng-disabled="addInvestigator.$invalid">
				Save
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>