<div ng-controller="AdminInvestigatorOverviewController">

	<h2>{{data.message}}</h2>

	<div class="row">
		<div class="col-sm-10 col-md-11">
			<div ng-controller="GridController" ng-init="init()">
				<sait-grid></sait-grid>
			</div>
		</div>
		<div class="col-sm-2 col-md-1" id="sidebar">
			<div>
				<sait-button title="Add" ng-show="!rowSelected" ng-click="goToAddInvestigator()"></sait-button>
				<sait-button title="Edit" ng-show="rowSelected" ng-click="goToEditInvestigator()"></sait-button>
				<sait-button title="Deselect" ng-show="rowSelected" ng-click="deselect()"></sait-button>
			</div>
		</div>
	</div>
</div>