<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="app"
      class="ng-cloak">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Main</title>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/select.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/ag-grid.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/theme-fresh.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/button-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/directive-template-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/grid-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/number-picker-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/select-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/textarea-style.css"/>
        <link rel="stylesheet" type="text/css" href="app/directives/templates/textbox-style.css"/>
    </head>
    <body ng-controller="BaseController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="logo" href="" ng-href="{{data.logo.target}}"><img ng-src="{{data.logo.url}}"
                                                                             alt="{{data.logo.alt}}"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">{{currentUser.firstName}}</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="fa fa-wrench"></span> Account <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu list-group">
                                <li role="separator" class="divider"></li>
                                <li class="list-group-item">
                                    <form th:action="@{/logout}" method="post">
                                        <a href="/Logout">Logout</a>
                                        <!--<button id="logout-button" class="btn btn-primary btn-medium">Log Out-->
                                        <!--</button>-->
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sidebar-left">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Projects"><span class="fa fa-clipboard"></span> Projects</a></li>
                <li><a href="/Devices"><span class="fa fa-desktop"></span> Devices</a></li>
                <li><a href="/Samples"><span class="fa fa-flask"></span> Samples</a></li>
                <li><a href="/Users"><span class="fa fa-users"></span> Users</a></li>
            </ul>
        </div>
        <div class="content">
            <div ng-view=""></div>
        </div>

        <script src="assets/lib/js/jquery.js"></script>
        <script src="assets/lib/js/angular.js"></script>
        <script src="assets/lib/js/angular-route.min.js"></script>
        <script src="assets/lib/js/angular-sanitize.min.js"></script>
        <script src="assets/lib/js/angular-resource.min.js"></script>
        <script src="assets/lib/js/bootstrap.min.js"></script>
        <script src="assets/lib/js/select.min.js"></script>

        <script src="assets/js/SidebarLeft.js"></script>

        <script src="app/AppModels.js"></script>
        <script src="app/models/Constants.js"></script>
        <script src="app/models/User.js"></script>

        <script src="app/AppServices.js"></script>
        <script src="app/services/Settings.js"></script>
        <script src="app/services/Settings.js"></script>
        <script src="app/services/UserService.js"></script>

        <script src="app/AppFilters.js"></script>
        <script src="app/filters/PropsFilter.js"></script>

        <script src="app/AppDirectives.js"></script>
        <script src="app/directives/scripts/DirectiveDetails.js"></script>
        <script src="app/directives/scripts/NumberPicker.js"></script>
        <script src="app/directives/scripts/Button.js"></script>
        <script src="app/directives/scripts/Textbox.js"></script>
        <script src="app/directives/scripts/Textarea.js"></script>
        <script src="app/directives/scripts/SingleSelect.js"></script>
        <script src="app/directives/scripts/MultiSelect.js"></script>
        <script src="app/directives/scripts/Grid.js"></script>

        <script src="app/AppControllers.js"></script>
        <script src="app/controllers/BaseController.js"></script>
        <script src="app/controllers/DashboardController.js"></script>
        <script src="app/controllers/AboutController.js"></script>
        <script src="app/controllers/DeviceController.js"></script>
        <script src="app/controllers/ProjectController.js"></script>
        <script src="app/controllers/SampleController.js"></script>
        <script src="app/controllers/UserController.js"></script>

        <script src="app/App.js"></script>
        <script src="app/config/Run.js"></script>
        <script src="app/config/RouteProvider.js"></script>
    </body>
</html>