<div id="login" layout="column" layout-align="center center" class="max-height md-warn">
    <div class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: rgba(0,0,0,0.5); color: whitesmoke">
                <div flex="15">
                    <a href="" ng-href="#/">
                        <img href="" src="/assets/img/sait_logo_symbol.png" alt="{{data.logo.alt}}">
                    </a>
                </div>
                <span flex>
                    <h2>Environmental Data Logging</h2>
                </span>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <form name="loginForm" role="form" ng-submit="login()" layout="column">
                <md-input-container>
                    <label for="email">Email</label>
                    <input type="text" name="username" ng-model="credentials.username" id="email" ng-pattern="/^.+@.+\..+$/" required autocomplete="off">
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Username is required.</div>
                        <div ng-message="pattern">Username must be an email address.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" ng-model="credentials.password" required autocomplete="off">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-checkbox id="remember-me" ng-model="credentials.rememberMe" aria-label="Remember Me">Remember Me</md-checkbox>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid">
                        Login
                    </md-button>
                    <div flex></div>
                    <!--<md-button class="md-primary md-hue-1 md-raised">Forgot Password</md-button>-->
                </div>
            </form>
        </md-content>
    </div>
</div>