<div ng-controller="AdminTestMethodAddController" class="row">
        <h2>Add New Test Method</h2>
        <div class="col-md-11 col-sm-10">
                <div class="well">
                        <div class="row">
                                <div class="col-md-3">
                                        <sait-textbox title="Name" name="name" value="testMethod.name"></sait-textbox>
                                </div>
                        </div>
                </div>
        </div>
        <div class="col-md-1 col-sm-2">
                <sait-button title="Cancel" ng-click="cancel()"></sait-button>
                <sait-button title="Save" ng-click="createTestMethod()"></sait-button>
        </div>
</div>