<md-dialog ng-cloak flex="40">
	<form name="addTestMethod">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout>
					<div flex>
						<md-input-container>
							<label for="name">Name *</label>
							<input id="name" name="name" type="text" ng-model="testMethod.name" required
							       autocomplete="off">
							<div ng-messages="addTestMethod.name.$error">
								<div ng-message="required">A name for the test method is required.</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<div layout>
					<div flex>
						<md-input-container>
							<label for="alias">Reporting Alias *</label>
							<input id="alias" name="alias" type="text" ng-model="testMethod.alias" required
							       autocomplete="off">
							<div ng-messages="addTestMethod.alias.$error">
								<div ng-message="required">A reporting alias for the test method is required.</div>
							</div>
						</md-input-container>
					</div>
				</div>
				<div layout>
					<div flex>
						<md-input-container>
							<label>Device *</label>
							<md-select ng-model="testMethod.device" aria-label="Device" required>
								<md-option ng-value="device" ng-repeat="device in deviceOptions">{{device.display}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="createTestMethod()" class="md-raised md-primary" ng-disabled="addTestMethod.$invalid">
				Save
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>