<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
                {{client.status | toRegularCase}}&nbsp;
                <md-switch md-no-ink class="md-hue-1" title="Status" name="status" ng-model="client.status" aria-label="Status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
                </md-switch>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout>
                    <div flex="33">
                        <md-input-container>
                            <label for="name">Name</label>
                            <input id="name" type="text" ng-model="client.name" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label for="phoneNumber">Phone Number</label>
                            <input id="phoneNumber" type="text" ng-model="client.phoneNumber" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label for="email">Email</label>
                            <input id="email" type="email" ng-model="client.email" />
                        </md-input-container>
                    </div>

                </div>
                <div layout>
                    <div flex="33">
                        <md-input-container>
                            <label for="contact">Contact</label>
                            <input id="contact" type="text" ng-model="client.contact" />
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label for="comment">Comment</label>
                            <textarea id="comment" flex="100" ng-model="client.comment" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="createClient()" class="md-accent md-hue-3 md-raised">
                Save
            </md-button>
            <md-button ng-click="closeDialog()" class="md-raised">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>