<div ng-controller="AdminClientEditController" class="row">
	<h2>Edit Client - <small>{{client.id}}</small></h2>
	<div class="col-md-11 col-sm-10">
		<div class="well">
			<div class="row">
				<div class="col-md-3">
					<!--<sait-textbox title="Name" name="name" value="client.name"></sait-textbox>-->
					<div class="form-group">
						<label for="name">Name</label>
						<input id="name" type="text" ng-model="client.name" class="form-control" />
					</div>
				</div>
				<div class="col-md-3">
					<!--<sait-textbox title="Contact" name="contact" value="client.contact"></sait-textbox>-->
					<div class="form-group">
						<label for="contact">Name</label>
						<input id="contact" type="text" ng-model="client.contact" class="form-control" />
					</div>
				</div>
				<div class="col-md-3">
					<!--<sait-textbox title="Phone Number" name="phoneNumber" value="client.phoneNumber" type="text" ng-required=""></sait-textbox>-->
					<div class="form-group">
						<label for="phoneNumber">Name</label>
						<input id="phoneNumber" type="text" ng-model="client.phoneNumber" class="form-control" />
					</div>
				</div>
				<div class="col-md-3">
					<!--<sait-textbox title="Email" name="email" value="client.email"></sait-textbox>-->
					<div class="form-group">
						<label for="email">Name</label>
						<input id="email" type="email" ng-model="client.email" class="form-control" />
					</div>
				</div>
				<div class="col-md-3">
					<sait-toggle title="Status" name="status" true="Active" false="Inactive" value="isActive"></sait-toggle>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<sait-textarea title="Comment" name="comment" value="client.comment"></sait-textarea>
					<!--<label for="comment">Comment:</label>-->
					<!--<textarea id="comment" ng-model="client.comment" class="form-control"></textarea>-->
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>
	<div class="col-md-1 col-sm-2">
		<sait-button title="Cancel" ng-click="cancel()"></sait-button>
		<sait-button title="Save" ng-click="save()"></sait-button>
	</div>
</div>