<div layout>
    <md-content flex layout-padding>
        <h2>{{data.message}}</h2>
        <grid></grid>
    </md-content>
    <md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
        <section layout="column">
            <md-button ng-click="goToAddClient($event)" class="md-raised md-primary" ng-show="getNumberOfSelectedRows() === 0">
                <span flex>Add</span>
            </md-button>
            <md-button ng-click="goToEditClient($event)" class="md-raised md-primary" ng-show="getNumberOfSelectedRows() > 0">
                <span flex>View</span>
            </md-button>
            <md-button ng-click="options.deselect()" class="md-raised" ng-show="getNumberOfSelectedRows() > 0">
                <span flex>Deselect</span>
            </md-button>
        </section>
    </md-sidenav>
</div>