<div layout>
    <md-content flex layout-padding>
        <md-card>
            <grid></grid>
        </md-card>
    </md-content>
    <div flex="10" flex-gt-md="5" layout-padding layout="column" class="sidebar">
        <md-button ng-click="goToAddClient($event)" class="md-fab md-primary">
            <span ng-class="icons.add"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Add</span>
            </md-tooltip>
        </md-button>
        <md-button ng-click="goToEditClient($event)" class="md-fab md-primary" ng-show="getNumberOfSelectedRows() > 0">
            <span ng-class="icons.view"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">View</span>
            </md-tooltip>
        </md-button>
        <md-button ng-click="options.deselect()" class="md-fab md-accent" ng-show="getNumberOfSelectedRows() > 0">
            <span ng-class="icons.deselect"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Deselect</span>
            </md-tooltip>
        </md-button>
    </div>
</div>
