<md-dialog ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{dialogTitle}}</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout>
					<div flex="33">
						<md-input-container>
							<label for="name">Name</label>
							<input id="name" type="text" ng-model="unit.name" />
						</md-input-container>
					</div>

				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="updateUnit()" class="md-accent md-hue-1 md-raised">
				Save
			</md-button>
			<md-button ng-click="closeDialog()" class="md-raised">
				Cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>