<div layout>
    <md-content flex layout-padding>
        <md-card>
            <grid></grid>
        </md-card>
    </md-content>
    <div flex="20" flex-gt-md="10" layout-padding layout="column">
        <md-button ng-click="goToAddUnit($event)" class="md-fab md-primary">
            <span ng-class="icons.add"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Add</span>
            </md-tooltip>
        </md-button>
        <md-button ng-click="options.deselect()" class="md-fab" ng-show="getNumberOfSelectedRows() > 0">
            <span ng-class="icons.deselect"></span>
            <md-tooltip md-direction="left">
                <span class="fab-text">Deselect</span>
            </md-tooltip>
        </md-button>
    </div>
</div>