<div ng-controller="AdminUnitOverviewController">
    <div layout>
        <md-content flex layout-padding>
            <h2>{{data.message}}</h2>
            <grid></grid>
        </md-content>
        <md-sidenav md-is-locked-open="true" class="md-sidenav-right" flex="20" flex-gt-md="10" layout-padding>
            <section layout="column">
                <md-button ng-click="goToAddUnit($event)" class="md-raised md-accent md-hue-3" ng-show="options.selected.length === 0">
                    <span flex>Add</span>
                </md-button>
            </section>
        </md-sidenav>
    </div>
</div>